.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  padding-bottom: 20px;

  &__form {
    padding: 20px;
    width: 44rem;
    background: $white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    .row {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 15px;

      .col {
        flex: 1 1 250px;

        .title {
          font-size: 1.25em;
          color: $header-top;
          padding-bottom: 5px;
          text-transform: uppercase;
        }

        .errorMessage {
          font-size: 0.8em;
          padding: 3px;
          color: $removeAll-btn;
        }

        .flex {
          display: flex;
          align-items: center;
          gap: 15px;

          .inputBox {
            margin-top: 5px;
          }
        }

        .inputBox {
          margin: 15px 0;

          img {
            height: 34px;
            margin-top: 5px;
            filter: drop-shadow(0 0 1px $header-top);
          }

          &__span {
            margin-bottom: 10px;
            display: block;
          }

          input {
            width: 100%;
            border: 1px solid $hover-card;
            padding: 10px 15px;
            font-size: 15px;
            outline: none;
            text-decoration: none;

            &:focus {
              border: 1px solid $checkout-focus;
            }
          }
        }
      }
    }
  }
}

.submit-btn {
  outline: none;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: $checkout-btn;
  color: $white;
  margin-top: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in;

  &:hover {
    background: $checkout-btn;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.purchase {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1.3rem;
  border: 0.13rem solid $btn-prod;
  box-shadow: 0.3rem 0.3rem 0 #B0B7CB;

  &__title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: 1.4em;
    gap: 1rem;

    strong {
      color: #008000;
      font-size: 0.8em;
    }
  }

  &__date {
    color: #302c2c;
    font-size: 1em;
    margin-top: 0.85rem;
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: auto;
    width: 100%;
  }

  &__total {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
  }

  .bottom {
    text-align: right;
  }

  &__img {
    min-width: 200px;
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }

  &__btn {
    margin: 1.4rem 0;
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: Arial;
    font-size: 1em;
    font-weight: 700;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;

    &:hover {
      background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
      background-color: #bab1ba;
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }
}

.listItem {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  border-bottom: 0.15rem solid rgba(56, 101, 224, 0.616);
  &__img {
    height: 4rem;
    width: 5rem;
    max-width: 20%;
    object-fit: contain;
  }

  &__details {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    h4 {
      width: 38%;
      @include breakpoints-down(nav-small) {
        width: 100%;
      }
    }

    span {
      width: 15%;
      text-align: center;
    }
    span:nth-child(3) {
      margin-left: 18px;
    }

    b {
      margin-left: 0 auto;
    }
  }
}
