header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: $header-top;
  z-index: 2;
}
.title-nav {
  font-family: 'Inter', sans-serif;
  color: $white;
  font-size: 1.7em;
}
.nav-top {
  background-color: #B0B7CB;
  text-align: center;
  font-family: $ubuntu-font;
  padding: 4px;
  color: $white;

  span {
    font-weight: 600;
  }
}
#cart-icon {
  color: $white;
  font-size: 1.7rem;
  cursor: pointer;
}
#counter {
  font-size: 0.7em;
  font-weight: 500;
  font-family: $ubuntu-font;
  margin: 0;
  padding: 5px;
}
.bx-menu {
  color: $white;
  font-size: 1.7em;
  cursor: pointer;
  display: none;
  @include breakpoints-down(navbar){
    display: block;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar {
  // border: 1px solid red;
  width: 60%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  @include breakpoints-down(navbar){
    display: none;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    position: relative;
    font-size: 1.1em;
    color: $white;
    display: block;
    margin: 0 1.2rem;
    padding: 0 15px;
  }
}
